<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetFrameworkVersion>net8.0</TargetFrameworkVersion>
    <CollectCoverage>true</CollectCoverage>
    <DataCollectionRunSettings>
      <DataCollectors>
        <DataCollector friendlyName="XPlat Code Coverage">
          <Configuration>
            <CodeCoverage>
              <ModulePaths>
                <Exclude>
                  <ModulePath>.*\.Tests.*</ModulePath>
                </Exclude>
              </ModulePaths>
              <ClassNames>
                <Exclude>
                  <ClassName>.*Tests.*</ClassName>
                </Exclude>
              </ClassNames>
            </CodeCoverage>
          </Configuration>
        </DataCollector>
      </DataCollectors>
    </DataCollectionRunSettings>
  </RunConfiguration>
</RunSettings>